.Cooking{
    display: flex;
    justify-content: center;
    user-select: none;
}

.Cooking-body{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .Cooking-body-title{
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .Cooking-body-review{
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.Cooking-body_ct{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
    justify-content: center;
    margin-top: 10px;
    .-body_ct-img{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .-body_ct-cb{
        ._ct-cb-span{
            +._ct-cb-span{
                margin-top: 10px;
            }
        }
    }
    .-body_ct-thuchien{
        ._ct-thuchien-span{
            +._ct-thuchien-span{
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 78.75em){

}
@media only screen and (max-width: 62.5em){
    
}
@media only screen and (max-width : 46.25em){
    .Cooking-body_ct{
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
        justify-content: center;
    }
}
@media only screen and (max-width : 30em){

}